@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");
body * {
  font-family: "Rubik", sans-serif;
}
/**
Page Design
*/
body,
html {
  height: 100%;
  width: 100%;
  margin: 0;
  /* padding: 5px; */
}
body {
  background-color: #01010a;
}
main {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
section {
  width: 100vw;
  margin: auto;
  padding: 1em 2em;
  text-align: center;
}
@media (max-width: 760px) {
  section {
    width: 100%;
  }
}
.page-title {
  color: #fff;
  text-shadow: 1px 1px 3px #000;
  font-size: 35px;
}

/* top-menu */
.details-section {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
  height: 45px;
  align-items: center;
}
.details-right-container {
  display: flex;
  justify-content: space-between;
  width: 40vw;
  margin-right: 500px;
}
.top-adm-button {
  color: white;
  background-color: #f40009;
  margin-right: 10px;
}
.top-parent-login-btn {
  background-color: rgb(247, 179, 25);
  color: white;
}
.icons {
  width: 2.1em;
  height: 1.5em;
  margin-right: 5px;
}

.contact-num-section {
  display: flex;
  justify-content: center;
  margin-top: 5px;
}
.phone-number-text {
  color: white;
}
.btn {
  border: none;
  border-radius: 5px;
}
.soacial-media-section {
  display: flex;
  margin-top: 5px;
}
.icon {
  margin-right: 10px;
}

/** 
Overlay Menu Style
**/
.overlay-menu-wrapper {
  position: fixed;
  top: 50px;
  left: 0;
  width: 0;
  height: 0;
  background: rgb(3, 22, 72);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;
  transition: height 0.3s ease-in-out, width 0.3s ease-in-out,
    top 0.3s ease-in-out;
}

.overlay-menus {
  width: 300px;
  transform: scale(0);
  transition: transform 0.3s ease-in-out 0.3s;
}
.overlay-menus ul {
  display: flex;
  width: 100%;
  padding: 0.5em 1em;
  flex-direction: column;
  align-items: center;
}
.overlay-menus ul > li {
  width: 100%;
  list-style: none;
  text-align: center;
  padding: 0.5em 1em;
}
.overlay-menus ul > li > a {
  text-decoration: none;
  font-size: 25px;
  color: #fff;
  font-weight: 600;
}
.overlay-menus ul > li,
.overlay-menus ul > li > a {
  transition: all 0.2s ease-in-out;
}
.overlay-menus ul > li:hover {
  transform: scale(1.2);
}
.overlay-menus ul > li:hover a {
  color: #b9f3e4;
}
@media (max-width: 460px) {
  .overlay-menus {
    width: 100%;
  }
}

/** 
Overlay Menu Button Style
**/
.overlay-menu-btn {
  position: fixed;
  top: 55px;
  right: 0;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  /* background-color: #000; */
  display: flex;
  justify-content: end;
  padding: 0.5em 1em;
}
.overlay-menu-btn > label {
  color: #fff;
  cursor: pointer;
  width: 100%;
  transition: all 0.2s ease;
}
.overlay-menu-btn:hover > label {
  /* padding: 0.5em 0.5em; */
}
input#overlay-menu-check,
.overlay-menu-btn > label > .close {
  display: none;
}

/*
If Overlay Fullscreen menu is shown
*/

input#overlay-menu-check:checked ~ .overlay-menu-wrapper {
  width: 100%;
  height: 100%;
  overflow-y: auto;
  top: 0;
}

input#overlay-menu-check:checked ~ .overlay-menu-wrapper .overlay-menus {
  transform: scale(1);
}
/* input#overlay-menu-check:checked ~ .overlay-menu-btn {
  /* background-color: #fff; */
input#overlay-menu-check:checked ~ .overlay-menu-btn > label {
  color: #fffdfd;
}
input#overlay-menu-check:checked
  ~ .overlay-menu-btn
  > label
  > span.material-symbols-outlined {
  content: "close";
}
input#overlay-menu-check:checked ~ .overlay-menu-btn > label > .show {
  display: none;
}
input#overlay-menu-check:checked ~ .overlay-menu-btn > label > .close {
  display: block;
}
.material-symbols-outlined {
  font-size: 47px;
}

.nav {
  display: flex;
  justify-content: left;
  padding: 0;
}
.logo-container {
  position: fixed;
  top: 50px;
  display: flex;
  justify-content: left;
}
img {
  height: 5rem;
  width: 10.2rem;
  padding-left: 5px;
}

/* section2 */
.hero {
  height: 51vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.hero-text-section {
  /* position: absolute; */
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  color: #fff;
  width: 50vw;
  align-items: center;
}
h3 {
  text-align: center;
}
.hero-text-section h3 {
  font-size: 3vw;
  color: #fff;
  font-weight: bold;
}
.hero-text-section h3 span {
  color: rgb(61, 92, 170);
}
.hero-text-section p {
  text-align: center;
  font-size: 1.2vw;
}
.apply-btn {
  background-color: rgb(61, 92, 170);
  color: rgb(244, 244, 244);
  font-weight: bold;
  padding: 12px 20px;
  border: none;
  border-radius: 5px;
  transition: all 0.5s;
  width: 30%;
}
.apply-btn2 {
  width: 10em;
}
.apply-btn span {
  height: 100px;
}
.apply-btn:hover {
  background-color: rgb(244, 244, 244);
  color: rgb(61, 92, 170);
}
.apply-btn2:hover {
  background-color: blue;
  color: white;
}
.exam {
  font-weight: bold;
}
video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  overflow: hidden;
  opacity: 0.2;
  pointer-events: none;
}
/* Dropdown Button */
.dropbtn {
  color: rgb(255, 254, 254);
  border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 11rem;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */

/* ADMISSION-PROCESS-SECTION */
.admission-process-section {
  width: 100vw;
  background-color: rgb(255, 255, 255);
  margin: 0;
  padding: 50px 150px;
  color: rgb(0, 0, 0);
}
.admission-process-section h5 {
  text-decoration: underline;
}
/* accordion sections */
.accordion {
  background-color: transparent;
  color: #0f0d2d;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: all 0.4s;
  /* text-align: center; */
  border-bottom: 3px solid gold;
  outline: none !important;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active,
.accordion:hover {
  background-color: transparent;
  border: none;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
  padding: 0 18px;
  background-color: transparent;
  display: none;
  overflow: hidden;
  color: rgb(15, 0, 100);
}
.panel {
  padding: 15px;
}
.terms {
  text-decoration: none;
  color: grey;
}
/* why-section */
.grids {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 20px;
}
.anchor {
  transition: transform 0.2s;
  display: inline-block;
  width: 80%;
}
.anchor:hover {
  text-decoration: none;
  transform: scale(1.08);
}
.grid-1-one {
  background-color: #baffab;
}
.grid-1-two {
  background-color: #9dfbd3;
}
.grid-1-three {
  background-color: #aaa8f9;
}
.grid-1-four {
  background-color: #deb0ff;
}
.grid-1-five {
  background-color: #eeb8cb;
}
.grid-1-six {
  background-color: rgb(74, 108, 108);
}

.grid-1-one h3 {
  color: rgb(216, 81, 2);
}
.grid-1-two h3 {
  color: green;
}
.grid-1-three h3 {
  color: rgb(33, 0, 0);
}
.grid-1-four h3 {
  color: rgb(18, 33, 162);
}
.grid-1-five h3 {
  color: #d7054e;
}
.grid-1-six h3 {
  color: rgb(48, 21, 4);
}

.why-section {
  background-color: rgb(244, 244, 244);
  padding: 50px;
}
.why-head {
  margin-bottom: 30px;
}
.why-section .why-head span {
  color: rgb(61, 92, 170);
}
.why-heading {
  font-weight: bold;
}
.grid-internal {
  display: flex;
  padding: 10px 20px;
  border-radius: 10px;
  margin-bottom: 20px;
  color: rgb(10, 1, 28);
  align-items: center;
  gap: 10px;
}
.grid-mid-img {
  height: 100%;
  width: 100%;
  border-radius: 45%;
}

/* /media query */

@media (max-width: 768px) {
  .hero-text-section {
    width: 90vw;
    margin-top: 100px;
  }
  .hero-text-section h3 {
    font-size: 2em;
  }
  .hero-text-section p {
    font-size: 1em;
  }
  .apply-btn {
    font-size: 1.2em;
    width: 200px;
    padding: 5px 10px;
  }
  .admission-process-section {
    padding: 50px 60px;
  }
  .grids {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .grid-1 {
    width: 100vw;
    padding: 20px;
  }
  .grid-2 {
    display: none;
  }
}
@media (min-width: 769px) and (max-width: 1600px) {
  /* .grid-2 {
    display: none;
  } */
  .grids {
    /* display: flex;
    align-items: center;
    justify-content: center; */
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
  }
  .grid-2 {
    margin: auto;
  }
  .grid-mid-img {
    /* height: 70%; */
  }
}
/* @media (min-width: 601px) {
  .apply-btn {
    font-size: 0.7em;
    padding: 5px 10px;
  }
} */
@media (orientation: portrait) {
}
@media (min-width: 1600px) {
  .grid-2 {
    display: inline-block;
  }
}

